
.icon-mail:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-videocam:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-eye-off:before { content: '\e804'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-user-add:before { content: '\e806'; } /* '' */
.icon-mail-1:before { content: '\e807'; } /* '' */
.icon-info-circled:before { content: '\e808'; } /* '' */
.icon-home-outline:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-facebook-1:before { content: '\e80b'; } /* '' */
.icon-facebook-circled-1:before { content: '\e80c'; } /* '' */
.icon-linkedin-circled-1:before { content: '\e80d'; } /* '' */
.icon-linkedin-1:before { content: '\e80e'; } /* '' */
.icon-github-1:before { content: '\e80f'; } /* '' */
.icon-github-circled-1:before { content: '\e810'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e811'; } /* '' */
.icon-sort-alphabet:before { content: '\e812'; } /* '' */
.icon-instagram:before { content: '\e813'; } /* '' */
.icon-html5:before { content: '\e814'; } /* '' */
.icon-css:before { content: '\e815'; } /* '' */
.icon-github-2:before { content: '\e816'; } /* '' */
.icon-facebook-2:before { content: '\e817'; } /* '' */
.icon-github-circled-2:before { content: '\e818'; } /* '' */
.icon-wordpress:before { content: '\e819'; } /* '' */
.icon-google:before { content: '\e81a'; } /* '' */
.icon-appstore:before { content: '\e81b'; } /* '' */
.icon-youtube:before { content: '\e81c'; } /* '' */
.icon-gplus-1:before { content: '\e81d'; } /* '' */
.icon-linkedin-2:before { content: '\e81e'; } /* '' */
.icon-login:before { content: '\e81f'; } /* '' */
.icon-facebook-rect:before { content: '\e820'; } /* '' */
.icon-html5-1:before { content: '\f13b'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-skype-1:before { content: '\f30b'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-linkedin-rect:before { content: '\f312'; } /* '' */
.icon-youtube-1:before { content: '\f313'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */